<?xml version='1.0' encoding='utf-8'?>

<config>

<ENABLE_JOURNAL>true</ENABLE_JOURNAL>

<ENABLE_SAVEGAME>true</ENABLE_SAVEGAME>

<HELP_TEXT>Los comandos válidos son: ayuda, mirar OBJETO, usar OBJETO, norte, sur, este, oeste, subir, bajar, ir a LUGAR, LUGAR, puntaje, estado, quit, save, load...</HELP_TEXT>

<INVALID_CMD_TEXT>COMANDO ERRÓNEO</INVALID_CMD_TEXT>

<PROMPT_TEXT> > </PROMPT_TEXT>

<GAME_START_TEXT>BIENVENIDO...</GAME_START_TEXT>

<GAME_RESUME_TEXT>...UNA VEZ MAS...</GAME_RESUME_TEXT>

<GAME_END_TEXT>FIN DEL JUEGO</GAME_END_TEXT>

<ROOM_ITEMS_STR>USTED VE:</ROOM_ITEMS_STR>

<PLAYER_DEFAULT_NAME>JUGADOR 1</PLAYER_DEFAULT_NAME>

<PLAYER_SCORE_STR>PUNTAJE:</PLAYER_SCORE_STR>

<PLAYER_STATS_STR>HABITACIONES VISITADAS:</PLAYER_STATS_STR>

<PLAYER_INVENTORY_STR>INVENTARIO:</PLAYER_INVENTORY_STR>

</config>
